<footer>
  <div class='container mt-5'>
    <p class="footertopline"></p>
  	<div class='row footer_area'>
    	<div class='mx-auto'>
    	  FOLLOW US ON
    	  <span class="icon">
    	    <i class="fab fa-twitter-square"></i>
    	  </span>
    	  <span class="icon">
    	    <i class="fab fa-instagram-square"></i>
    	  <span class="icon">
    	  </span>
    	    <i class="fab fa-facebook-square"></i>
    	  </span>
    	</div>
    </div>
  </div>
</footer>
