<div class="container">
  <div class="row" style = "margin-top: 50px">
    <div class="col-5">
      <div class="shops_index">
      <%= render 'user/shops/index', shops: @shops %>
      </div>
    </div>
  </div>
</div>
