@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

body {
  background-color:#f5f5dc;
  font-family: 'Yusei Magic', sans-serif;
}

a.btn--yellow {
  color: #000;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

a.btn--yellow:hover {
  margin-top: 3px;
  color: #000;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
}

a.btn--red {
  color: #000;
  background-color: #ff540a;
  border-bottom: 5px solid #db650b;
}

a.btn--red:hover {
  margin-top: 3px;
  color: #000;
  background: #ff540a;
  border-bottom: 2px solid #db650b;
}

a.btn--blue {
  color: #000;
  background-color: #0ba4db;
  border-bottom: 5px solid #156c8c;
}

a.btn--blue:hover {
  margin-top: 3px;
  color: #000;
  background: #0ba4db;
  border-bottom: 2px solid #156c8c;
}

a.btn--green {
  color: #000;
  background-color: #0ddb30;
  border-bottom: 5px solid #169c2c;
}

a.btn--green:hover {
  margin-top: 3px;
  color: #000;
  background: #0ddb30;
  border-bottom: 2px solid #169c2c;
}

a.btn--water {
  color: #000;
  background-color: #07ede9;
  border-bottom: 5px solid #1ab0ad;
}

a.btn--water:hover {
  margin-top: 3px;
  color: #000;
  background: #07ede9;
  border-bottom: 2px solid #1ab0ad;
}

.dropdown-item{
  text-decoration: none;
  color: #000000;
}

.header_index {
  text-decoration: none;
  color: #000000;
}
.img-field {
  height: 450px;
  margin: 0 auto;
}

.post_show {
  border: 10px solid #6091d3;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.post_index {
  border: 5px solid #6091d3;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  background-color: #FFFFFF;
  width: 30%;
}

.follow_list {
  border: 5px solid #6091d3;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  background-color: #FFFFFF;
  width: 30%;
}

.follow_index {
  display:block;
  display:flex;
  justify-content: center;
}

.follow_user_image {
  width: 100%;
  height: 150px;
  display:block;
  display:flex;
  justify-content: center;
}

.post_index_image {
  width: 100%;
  object-fit: cover;
  height: 185px;
}

.post_search_image {
  width: 100%;
  object-fit: cover;
  height: 185px;
}

.post_show_image {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.shop_show_images {
  width: 100%;
  object-fit: cover;
  height: 200px;
  width: 300px;
}

.shop_index {
  border: 5px solid #6091d3;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding-top: 20px;
  background-color: #FFFFFF;
  text-align: center;
  width: 30%;
}

.search_shop_index {
  border: 5px solid #6091d3;
  border-radius: 20px;
  background-color: #FFFFFF;
  text-align: center;
  width: 30%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.shop_image {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.index_icon {
  display:block;
  display:flex;
  justify-content: right;
}

.admin_shop_index {
  text-align : center;
  margin-bottom: 20px;
  margin-right : 10px;
  padding-top: 20px;
}

.user_index {
  text-align : center;
  margin-bottom: 20px;
  margin-right : 10px;
  padding-top: 20px;
}

.home_image {
  width: 100%;
  object-fit: cover;
  height: 100px;
  width: 150px;
}

.post_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search_shop {
  justify-content: center;
  align-items: center;
}

.admin_post_index {
  text-align : center;
  margin-bottom: 20px;
  margin-right : 10px;
  padding-top: 20px;
}

.post_index_search {
  border: 5px solid #6091d3;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  background-color: #FFFFFF;
  text-align: center;
  width: 30%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.index_mypage {
  display:flex;
  flex-direction: row;
}

.post_index {
  border: 5px solid #6091d3;
  border-radius: 20px;
  text-align : center;
  margin-bottom: 20px;
  margin-right : 10px;
  padding-top: 20px;
  background-color: #FFFFFF;
}

.top_post {
  display:flex;
  flex-direction: row;
}

.home_index {
  display:flex;
}

.nav-home {
  margin-right: 30px;
}

.post_image {
  text-align : center;
  border-radius: 50px;
}

.delete-button {
  margin-right : 100px;
}

.header_name {
  color: #ffffff;
}

.shop_show_area {
  border: 10px solid #6091d3;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.post_body {
  width: 70%;
}

.shop_show_image {
  text-align : center;
  border-radius: 50px;
}

.my_post {
  border: 5px solid #6091d3;
  border-radius: 20px;
  text-align : center;
  background-color: #FFFFFF;
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #7fffd4;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 25px;    /*角を丸くする*/
}

.pagination {
  justify-content: center;
  margin-top: 10px;
}

// googleフォント　font-family: 'Murecho', sans-serif;
//                 font-family: 'Zen Antique Soft', serif;


.footer_area {
  border-top: 1px solid #000000;
  margin-top: 5px;
}


.search_index {
  text-align : center;
  margin-bottom: 20px;
  padding-top: 20px;
}

.search_post {
  border: 5px solid #6091d3;
  border-radius: 20px;
}

.button_shop {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : rgba(26, 26, 255, 0.92);     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid rgba(26, 26, 255, 0.92);    /* 枠の指定 */
}
.button_shop:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : rgba(26, 26, 255, 0.92);     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.button_post {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : rgba(26, 26, 255, 0.92);     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid rgba(26, 26, 255, 0.92);    /* 枠の指定 */
}

.button_post:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : rgba(26, 26, 255, 0.92);     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


a.btn-flat {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 150%;
  height: 500%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);

  background: #00b7ee;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}