<div class="container">
  <div class="row" style="margin-top: 60px">
    <div class="mx-auto mt-10">
      <h1>~ Hokuriku麺へようこそ！ ~</h1>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-6">
      <%= image_tag "IMG_0642.jpg",size: '500x600' %>
    </div>
    <div class="col-6 mt-5">
      <span>
        <h3><b>Hokuriku麺は北陸の<br>
        ラーメンをユーザーがレビューをし、</br>
        共有できるサイトです!<br>
        興味があれば北陸でラーメンを食べに来てください！</b></h3>
      </span>
    </div>
  </div>
</div>