<div class="container">
  <div class="row" style="margin-top: 20px">
    <div class="col-8">
      <%= image_tag "tonkotsu_negi.jpeg",size: "650x400" %>
    </div>
    <div class=="col-4">
      <h4>検索欄　エリア検索欄</h4>
    </div>
  </div>
  <div class="row" style="margin-top: 30px">
    <div class="col-8">
      <h4>レビュー新着！　New!!</h4>
    </div>
  </div>
</div>