<h2>レビューが投稿されている場所</h2>

<input id="address" type="textbox" value="">
<input type="button" value="検索する" onclick="codeAddress()">
<!-- 下の1行を追加 -->
<div id="display"></div>

<div id='map',class="map"></div>

<style>
#map {
  height: 650px;
  width: 650px;
}
</style>

<script>
let map
let geocoder
// 下の1行を追加
const display = document.getElementById('display')

function initMap(){
      geocoder = new google.maps.Geocoder()
      map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 36.57849231757152, lng:136.64787099262296},
          zoom: 8,
      });

      <% maps.each do |m| %>

          var contentString = "<%= m.address %>";

          var marker = new google.maps.Marker({
              position:{lat: parseFloat("<%= m.latitude %>"), lng: parseFloat("<%= m.longitude %>")},
              map: map,
              title: contentString
          });

      <% end %>
}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
      // 下の1行を追加
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}



</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>