<div class="container">
  <div class="row" style = "margin-top: 50px">
    <div class="col-5">
      <div class="flex-post">
      <%= render 'user/posts/index', posts: @posts %>
      </div>
    </div>
  </div>
</div>